[submodule "zencoding-vim"]
	path = zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "delimitMate"]
	path = delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "closetag.vim"]
	path = closetag.vim
	url = https://github.com/vim-scripts/closetag.vim.git
[submodule "vim-racket"]
	path = vim-racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule "VIM-Haskell"]
	path = VIM-Haskell
	url = https://github.com/kevinstreit/VIM-Haskell.git
[submodule "MatchTag"]
	path = MatchTag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "vim-javascript"]
	path = vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim-jst"]
	path = vim-jst
	url = https://github.com/briancollins/vim-jst.git
[submodule "vim-powerline"]
	path = vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim-buffergator"]
	path = vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "quicktask"]
	path = quicktask
	url = https://github.com/aaronbieber/quicktask.git
[submodule "vimoutliner"]
	path = vimoutliner
	url = https://github.com/vimoutliner/vimoutliner.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline
[submodule "a.vim"]
	path = a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "vim-hackernews"]
	path = vim-hackernews
	url = https://github.com/ryanss/vim-hackernews.git
[submodule "rust.vim"]
	path = rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "emmet-vim"]
	path = emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim-go"]
	path = vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "YouCompleteMe"]
	path = YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "ultisnips"]
	path = ultisnips
	url = https://github.com/SirVer/ultisnips.git
